<div class="questions">
  <% questions.each do |question| %>
    <h2><%= question.title %></h2>
    <h2><%= question.body %></h2>
    <hr style="height: 3px; background-color: black">
  <% end %>
</div>