<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <h2><%= user.username %></h2>
    <p>
      <%= button_to "Show this user", user, method: :get %>
    </p>
    <hr style="background-color: black">
  <% end %>
</div>

<%= button_to "New user", new_user_path, method: :get %>
